# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production
build/
dist/

# Misc
.DS_Store
.env
.env.local
.env.*.local
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Prisma
backend/prisma/migrations/

# TMA
tma/dist/
tma/.vite/

